<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <#include "inc/meta.html"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>新建文章</title>
    <#include "inc/css.html"/>


</head>

<body>

<div id="createPost" class="wrapper">

    <#include "inc/nav.html"/>

    <div id="page-wrapper" class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">新建文章</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <form id="postForm" method="post" action="content/post/save" class="form-horizontal" role="form">
            <div class="row">
                <div class="col-lg-9">
                    <div class="panel">
                        <div class="panel-heading">
                            <input type="hidden" name="id" value="${(post.id)!}">
                            <input type="text" class="form-control input-lg" value="${(post.title)!}" name="title" placeholder="请输入文章标题">
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <textarea  id="content" >
                                      ${(post.content)!}
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <b>发布</b>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="javascript:void(0)" id="draft"  class="pull-left btn  btn-default" role="button">保存草稿</a>
                                    <a href="javascript:void(0)" id="preview" class="pull-right btn  btn-success" role="button">预览</a>
                                </div>
                            </div>
                            <div class="row">
                                <#if post??>
                                    <div class="col-lg-12">
                                        <h6>
                                            <i class="fa fa-clock-o fa-fw"></i>发布于：
                                            <small class=" text-muted">
                                                 ${post.createDate?string("yyyy年MM月dd日 HH:ss")}
                                            </small>
                                        </h6>
                                    </div>
                                </#if>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="javascript:void(0)" id="save" class="btn btn-primary" role="button">发布</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>文章标签</b>
                        </div>
                        <div class="panel-body">
                            <input type="text" name="tags" class="form-control input-lg" placeholder="多个标签用(,)隔开" value="${(post.tags)!}">
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>类别选择</b>
                        </div>
                        <div class="panel-body">
                            <#if (post.categorys)??>
                                <@categoryList def=post.categorys />
                                <#else>
                                <@categoryList  />
                            </#if>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    
    </div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script src="static/js/plugins/tinymce/js/tinymce/tinymce.min.js"></script>


<#include "inc/footer.html"/>


</body>

</html>


<script type="text/javascript">

    var createPost = {
        v:{
            id:"createPost",
            tinyContent:null
        },
        fn:{
            init:function(){
                $("#save").click(function(){
                    var content = tinymce.get('content').getContent();
                    $("#postForm").ajaxSubmit({
                        dataType:"json",
                        data:{content:content},
                        success:function(result){
                            createPost.fn.responseComplete(result);
                        }
                    })
                })

                createPost.fn.lastLoad();
            },
            responseComplete:function(result){
                if(result.success){
                    $("#postForm input[name='id']").val(result.data.id);

                    $("#"+createPost.v.id+" .page-header").html("编辑文章")
                    binf.notify(result.msg,"success");
                }else{
                    binf.notify(result.msg,"error");
                }
            },
            lastLoad:function(){
                if($("#postForm input[name='id']").val()!=null&&$("#postForm input[name='id']").val()!=""){
                    $("#"+createPost.v.id+" .page-header").html("编辑文章");
                }
            }

        }
    }

    $(document).ready(function() {

        tinymce.init({
            selector: "textarea",
            height:"300px",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });


        createPost.fn.init();


    });





</script>