<!DOCTYPE html>
<html lang="zh-cn">
<head>

    <#include "inc/meta.html"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>类别管理</title>
    <#include "inc/js.html"/>


</head>

<body>

<div id="category">

    <#include "inc/nav.html"/>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">类别管理</h1>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-group pull-left" >
                            <a href="javascript:void(0)" id="create"  class="btn btn-outline btn-primary btn-lg" role="button" data-toggle="modal" >创建</a>
                            <a href="#" class="btn btn-outline btn-warning btn-lg" role="button">修改</a>
                            <a href="#" class="btn btn-outline btn-danger btn-lg" role="button">删除</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables">
                            <colgroup>
                                <col class="gradeA even" style="text-align: center; width: 6%"/>
                                <col class="gradeA odd"/>
                                <col class="gradeA even"/>
                                <col class="gradeA odd"/>
                                <col class="gradeA even"/>
                                <col class="gradeA odd"/>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th> <input type="checkbox" class="checkall"/></th>
                                    <th>名称</th>
                                    <th>父类</th>
                                    <th>别名</th>
                                    <th>级别</th>
                                    <th>排序</th>
                                </tr>
                            </thead>
                            <tbody>


                            </tbody>
                        </table>
                        </div>

                    </div>
                <!-- /.panel-body -->
                </div>
            <!-- /.panel -->
            </div>
        <!-- /.col-lg-12 -->
        </div>

        <!-- Modal -->
        <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="categoryModalLabel">类别编辑</h4>
                    </div>
                    <div class="modal-body">
                        <form id="categoryForm" method="post" action="content/category/save" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">名称:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="请输入名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="parentId" class="col-sm-2 control-label">父类:</label>
                                <div class="col-sm-5">
                                    <select class="form-control" id="parentId"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="alias" class="col-sm-2 control-label">别名:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="alias" name="alias" placeholder="请输入别名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sort" class="col-sm-2 control-label">排序:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="sort" name="sort" placeholder="请输入排序号">
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" id="save" class="btn btn-primary">保存</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Modal end -->

    </div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<#include "inc/footer.html"/>

</body>

<script type="text/javascript">

    var category = {
        v:{ id:"category",
            linkageSel:null,
            dTable:null
        },

        fn:{
           init:function(){
               $("#create").click(function(){
                   $("#categoryModal").modal("show");
               })

               $("#categoryModal #save").click(function(){
                   category.fn.save();
                   $("#categoryModal").modal("hide");
               })

               category.fn.initSelect();
               category.fn.dataTableInit();

           },
           initSelect:function(){

               var data = {scriptName:"typeTree"};
               binf.ajax("content/category/tree",data,function(data){
                   var opts = {data: typeTree,loaderImg:"static/images/ui-anim_basic_16x16.gif", select:'#parentId', selStyle: 'width: 100px;',head:'请选择分类', autoLink:false };
                   category.v.linkageSel = new LinkageSel(opts);
               },{dataType:"script"})

           },
           dataTableInit:function(){
                category.v.dTable =$('#dataTables').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "content/category/list",
                        "type": "POST"
                    },
                    ordering:false,
                    "columns": [
                        { "data": "id" },
                        { "data": "name" },
                        { "data": "parentId" },
                        { "data": "alias" },
                        { "data": "level" },
                        { "data": "sort" }
                    ],
                    "createdRow": function ( row, data, index ) {
                        $('td', row).eq(0).html("<input type='checkbox' value="+data.id+">");
                    },
                    "fnDrawCallback": function ( row, data, start, end, display ){
                        binf.uiform();
                    }
                });

           },
           save:function(){
               var parentId = category.v.linkageSel.getSelectedValue();
               $("#categoryForm").ajaxSubmit({
                   data:{parentId:parentId},
                   dataType:"json",
                   success:function(result){
                       if(result.success){
                           binf.notify(result.msg,"success");
                       }
                   }
               })
           }
        }
    }


    $(document).ready(function() {
        category.fn.init();

        $('#dataTables').dataTable();
    });


</script>

</html>
