<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
       default-lazy-init="true">

	<!-- Hessian 启动BeanNameMapping 映射功能 -->
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>

    <bean name="/api/admin/postServiceApi"  class="org.springframework.remoting.caucho.HessianServiceExporter">
        <property name="service" ref="postServiceApiImpl" />
        <property name="serviceInterface" value="me.binf.api.PostServiceApi"/>
    </bean>

</beans>