<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="submit">
                <p class="text-center"><a href="static/sb-admin-2/index.html" target="_blank"> sb admin bootstrap template</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery Version 1.11.0 -->
<script src="static/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="static/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="static/js/plugins/metisMenu/metisMenu.min.js"></script>

<script src="static/js/plugins/jquery.form.min.js"></script>

<script src="static/js/plugins/linkagesel/js/comm.js"></script>

<script src="static/js/plugins/linkagesel/js/linkagesel-min.js"></script>

<script src="static/js/plugins/validator-0.7.3/jquery.validator.js"></script>

<script src="static/js/plugins/validator-0.7.3/local/zh_CN.js"></script>

<script src="static/js/plugins/notify-bootstap.min.js"></script>

<script src="static/js/plugins/jquery.uniform.min.js"></script>

<!-- DataTables JavaScript -->
<script src="static/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="static/js/plugins/dataTables/dataTables.bootstrap.js"></script>

<!-- Custom Theme JavaScript -->
<script src="static/js/sb-admin-2.js"></script>