<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="submit">
                <p class="text-center">如果你的网站基于Bootstrap构建、并且用心的设计，那就提交到 <a href="mailto:admin@bootcss.com">admin@bootcss.com</a> 在这里展示吧！</p>
                <p class="text-center">请注明“Bootstrap网站作品提交 -- 你的网址”</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery Version 1.11.0 -->
<script src="static/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="static/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->

<script src="static/js/plugins/metisMenu/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="static/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="static/js/plugins/dataTables/dataTables.bootstrap.js"></script>

<!-- Custom Theme JavaScript -->
<script src="static/js/sb-admin-2.js"></script>