<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>

    <#include "inc/css.html"/>
</head>
<body>

<#include "inc/menu.html"/>

<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">猫清扬</h1>
    </div>

    <div class="row">
        <div class="col-sm-8 blog-main">

            <#list posts.content as post>
                <div class="blog-post">
                    <h2 class="blog-post-title"><a href="/${post.id!}"> ${post.title!}</a></h2>
                    <p class="blog-post-meta">${post.announceDate!} </p>
                    ${post.content!}
                </div><!-- /.blog-post -->
            </#list>

            <nav>
                <@p.pager inPageNo=posts.pageable.page pageSize=posts.pageable.size recordCount=posts.total toURL="/"/>
            </nav>
        </div>


        <@include_page path="/site/inc/sidebar"  />

    </div>
</div>

<#include "inc/footer.html"/>

</body>

</html>